::ng-deep{
    .p-dropdown{
        width: 100% !important;
        height: 4rem !important;
    }
    .p-autocomplete, .p-autocomplete-multiple-container {
        width: 100% !important;
        height: 4rem !important;
    }
    .p-inputNumber, .p-inputnumber-input{
        
        width: 100% !important;
        height: 4rem !important;
    }
}