::ng-deep {
  .p-dropdown {
    width: 100% !important;
    height: 4rem !important;
  }
  .p-autocomplete,
  .p-autocomplete-multiple-container {
    width: 100% !important;
    height: 4rem !important;
  }
  .p-inputNumber,
  .p-inputnumber-input {
    width: 100% !important;
    height: 4rem !important;
  }

  p-dropdown.ng-invalid.ng-touched > div {
    border: 1px solid red;
  }

  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  .p-inputtextarea.ng-invalid.ng-touched {
    border: 1px solid red !important;
  }
  p-inputnumber.ng-dirty.ng-invalid > .p-inputnumber > .p-inputtext {
    border: 1px solid red !important;
  }
}
