::ng-deep {
  .p-dropdown {
    width: 100% !important;
    height: 4rem !important;
  }
  .p-autocomplete,
  .p-autocomplete-multiple-container {
    width: 100% !important;
    height: 4rem !important;
  }
  .p-inputNumber,
  .p-inputnumber-input {
    width: 100% !important;
    height: 4rem !important;
  }

  p-autocomplete.ng-invalid.ng-touched {
    border: 1px solid red !important;
  }

  #category-dropdown.ng-invalid.ng-touched {
    border: 1px solid red !important;
  }

  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  .p-inputnumber-input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  .p-inputtextarea.ng-invalid.ng-touched {
    border: 1px solid red !important;
  }
}
