<div class="pl-6">
  <h2>Filters</h2>

  <form [formGroup]="filterForm" class="card flex flex-wrap gap-3">
    <p-inputNumber
      inputId="integeronly"
      formControlName="skip"
      placeholder="skip"
    />

    <p-inputNumber
      inputId="integeronly"
      formControlName="limit"
      placeholder="limit"
    />

    <p-multiSelect
      optionLabel="prop"
      placeholder="select"
      formControlName="filter"
      [options]="filterKey"
      optionValue="prop"
    />

    <p-button label="Search" (onClick)="onFilter()" severity="info" />
  </form>
</div>
