@if (apiService.isLoading) {
<div class="flex justify-content-center h-30rem align-items-center">
  <p-progressSpinner
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s"
  />
</div>
}@else{

<div
  class="flex mt-9 p-6 py-7 shadow-3 mt-7 border-color mx-auto border-1 border-solid border-round-3xl w-4 h-20rem justify-content-around align-items-center"
>
  <i
    class="pi pi-times-circle text-cyan mr-4 flex align-items-center justify-content-center"
    style="font-size: 7rem"
  ></i>
  <div>
    <p class="text-3xl font-medium text-cyan">No Results</p>
    <p class="mt-5 text-xl font-italic text-cyan">{{ message }}</p>
  </div>
</div>
}
