<app-filter [preSelectedFilters]="cols"  (filterChange)="onFilterChange($event)"></app-filter>
<div class="card w-80">
  <p-table
    [columns]="cols"
    [value]="(product$ | async) || []"
    [scrollable]="true"
    scrollHeight="700px"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for(col of columns; track $index){
          <th class="text-center">
            {{col.header}}
          </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowData let-columns="columns">
      <tr >
  
        @for(col of columns; track $index){
          <td class="text-center">
            @switch (col.field) {
              @case ('price') {
                {{ rowData[col.field] | currency }}
              }
              @case ('tags') {
                @for (tag of product.tags; track $index) {
                  <p-chip styleClass="p-mr-2 ml-2 py-2 custom-chip"> {{tag}}</p-chip>
                }
              }
              @case('meta'){
                {{product.meta.createdAt | date:'dd/MM/yyyy'}}
              }
              @case ('thumbnail') {
                <p-image 
                [src]="product.thumbnail"
                alt="Image" 
                width="50" />
              }
              @case('images'){
                @for (image of product.images; track $index){

                  <p-image 
                  [src]="image"
                  alt="Image" 
                  width="50" />
                }
              }
              @case('rating'){
          
                <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
              }
              @case('dimensions'){
                @for (item of product.dimensions | keyvalue; track $index )  {
                 <strong>{{item.key+': ' | uppercase}}</strong> {{item.value}}
                }
              }
              @default {
                {{ rowData[col.field] }}
              }
            }
          </td>
        }
        
      </tr>
    </ng-template>
  </p-table>
</div>

      <!-- <td *ngFor="let item of product.reviews"  class="text-center">{{ item.rating + item.rating}}</td> -->